@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; 
@import "minimal-mistakes";
@import "minimal-mistakes";
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');

.gnb>li{
  display:inline-block;
  margin-right: 50px;}

ul{
  list-style: none;
}